@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
  --font-heading: Crimson Text, Georgia, serif;
  --font-body: Crimson Text, Georgia, serif;
  --font-size-xxl: calc(var(--font-size-base) * 3.75);

  --eclipse-dark: #0c0a09;     /* stone-950 */
  --eclipse-panel: #1c1917;    /* stone-900 */
  --gold-dim: #b45309;
  --gold-light: #fbbf24;
  --text-color-brown: #E7DFD3;

  --color-d-background: var(--eclipse-dark);
  --color-d-foreground: var(--color-stone-200);
}

body {
  color: var(--text-color-brown);
}

.site-navbar-site-name {
  font-weight: var(--font-weight-semibold);
}

.site-navbar-link {
  font-size: var(--font-size-md);
}

.site-navbar-links-container {
  justify-content: end;
}

.site-navbar-inner {
  max-width: 80rem;
}

.page-header {
  max-width: 48rem;
  margin: 0 auto 2rem auto;
  border-bottom-width: 0px;
  border-color: inherit;
  padding-bottom: 0rem;
}

.page-header>*+* {
  margin-top: 1rem
}

.page-header-title {
  font-size: var(--font-size-h1);
}

@media (min-width: 640px) {
  .page-header-title {
      font-size: var(--font-size-xl);
  }
}

.page-body {
  max-width: 48rem;
  margin: 0 auto;
}